<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* <meta name="csrf-token" content=""> *@
    <title>@ViewData["Title"] - Testing App</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">

    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" asp-append-version="true">
    <link rel="shortcut icon" href="~/dist/img/AdminLTELogo.png" type="image/x-icon">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Navigation")
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <strong>Copyright &copy; 2025 <a href="#">Testing App</a>.</strong> All rights reserved.
        </footer>
    </div>
    <div class="modal fade" id="logoutModal">
        <div class="modal-dialog">
            <form action="" method="POST" class="row g-3 needs-validation" novalidate>
                <div class="modal-content bg-danger">
                    <div class="modal-header">
                        <h4 class="modal-title">Informasi</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ingin Keluar Aplikasi ?
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-outline-light">Ya, Keluar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/helpers/js/notification-messages.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/dist/js/adminlte.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            // Fungsi untuk mengganti ikon sesuai dengan mode
            function updateDarkModeIcon() {
                if ($('body').hasClass('dark-mode')) {
                    $('nav.main-header').removeClass('navbar-white navbar-light').addClass('navbar-dark');
                    $('#darkModeToggle i').removeClass('fa-moon').addClass('fa-sun');
                } else {
                    $('nav.main-header').removeClass('navbar-dark').addClass('navbar-white navbar-light');
                    $('#darkModeToggle i').removeClass('fa-sun').addClass('fa-moon');
                }
            }

            // Cek status dark mode di localStorage dan terapkan saat halaman dimuat
            if (localStorage.getItem('darkMode') === 'enabled') {
                $('body').addClass('dark-mode');
                $('nav.main-header').removeClass('navbar-white navbar-light').addClass('navbar-dark');
                updateDarkModeIcon(); // Perbarui ikon sesuai status
            }

            // Event listener untuk toggle dark mode
            $('#darkModeToggle').on('click', function () {
                $('body').toggleClass('dark-mode');

                // Simpan status dark mode ke localStorage dan perbarui ikon
                if ($('body').hasClass('dark-mode')) {
                    localStorage.setItem('darkMode', 'enabled');
                } else {
                    localStorage.setItem('darkMode', 'disabled');
                }
                updateDarkModeIcon(); // Perbarui ikon setelah toggle
            });
        });
    </script>
    <script>
        const type = '@TempData["TypeMessage"]';
        const message = '@TempData["ValueMessage"]';

        if (message) {
            notificationMessages(type, message);
        }
    </script>

</body>

</html>