@model Microsoft.AspNetCore.Html.IHtmlContent
<div class="modal fade" id="@ViewData["ModalId"]">
    <div class="modal-dialog modal-sm">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Hapus Data ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" id="@ViewData["FormId"]" method="post" class="frm-delete">
                <div class="modal-body">
                    @Model
                </div>
                <div class="modal-footer">
                    @* <x-button-cancel />
				<x-submit-delete /> *@
                </div>
            </form>
        </div>
    </div>
</div>