@{
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    var permissionName = $"Create{controllerName}";
}
@if (User.HasClaim("Permission", permissionName))
{
    <a asp-area="" asp-controller="@ViewData["LinkController"]" asp-action="@ViewData["LinkAction"]"
        class="btn btn-sm bg-gradient-success"><i class="fas fa-plus"></i> Tambah</a>
}