@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    var permissionName = $"Delete{controllerName}";
}
@if (User.HasClaim("Permission", permissionName))
{
    <a asp-area="" asp-controller="@ViewData["LinkController"]" asp-action="@ViewData["LinkAction"]"
        class="btn btn-sm bg-gradient-secondary"><i class="fas fa-file-excel"></i> @Localizer["ExportExcel"]</a>
}