@model Microsoft.AspNetCore.Html.IHtmlContent
<a href="javascript:;" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i> Action</a>
@Model
