@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
<button type="submit" id="btnSave" class="btn btn-success"><i class="fas fa-save"></i> @Localizer["SubmitSave"]</button>