@using Microsoft.AspNetCore.Html
@model IEnumerable<DotnetTestingWebApp.Models.Product>

@{
    ViewData["Title"] = "Produk Page";
}

@await Component.InvokeAsync(
    "PageHeader", 
    new { 
        PageTitle = "Produk Manajemen | Tambah Data", 
        breadcrumb = new List<(string, string, string)>
        {
            ("Home", "Index", "Home"),
            ("Produk", "Index", "Product"),
            ("Tambah Data", "", "")
        }
    }
)
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <card-layout title="Tambah Produk Baru">
							<form action="" method="post" id="formProccess">
                                @await Html.PartialAsync("Components/_FormInput", new ViewDataDictionary(ViewData) { { "Label", "Nama Produk" }, { "Name", "name" }, { "Attributes", "type=\"text\" placeholder=\"Masukan nama produk\" data-test=\"123\" autofocus=\"true\" autocomplete=\"off\"" } })
                                @await Html.PartialAsync("Components/_FormInput", new ViewDataDictionary(ViewData) { { "Label", "Harga Produk" }, { "Name", "price" }, { "Attributes", "type=\"number\" placeholder=\"Masukan harga produk\" autocomplete=\"off\"" } })
                            </form>
                </card-layout>
            </div>
        </div>
    </div>
</div>