@model IEnumerable<DotnetTestingWebApp.Models.Product>

@{
}

<h1>PRODUCT PAGE</h1>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name , @item.Price , @item.CreatedAt , @item.UpdatedAt</li>
        }
    </ul>
</div>